{% extends 'base.html' %}
{% load static %}

{% block titulo %}todos los Productos{% endblock  %}
{% block archivo_css %}
<link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
<link rel="stylesheet" href="{ % static 'post.css' % }">
{% endblock  %}
{% block contenido %}
<section id="all-posts">
    <h2>Productos</h2>
    <ul>
        {% for producto  in  producto %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
           
    </ul>
   </section>
{% endblock  %}